Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Add more documentation
  docs/_quarto.yml
  docs/development-environment.qmd
  docs/git-repositories.qmd
  docs/hello-minikube.qmd
  docs/local-binderhub.qmd
  docs/local-jupyterhub.qmd
  docs/personal-access-tokens.qmd
  docs/secret-files.qmd
  docs/test-binderhub.qmd
  docs/test-clean-up.qmd
  docs/test-hardware.qmd
  docs/test-k8s-cluster.qmd
  docs/test-k8s-setup.qmd
  docs/test-nginx.qmd
  docs/test-postgresql.qmd
  docs/test-software.qmd
Due: pages

Ban user
  helm/gesis/values.yaml
Due: gesis helm lint

Add notes about Docker
  docs/_quarto.yml
  docs/docker-101.qmd
Due: pages

Fix YAML indentation
  helm/gesis/Chart.yaml
Due: gesis helm lint

Add cryptnono as dependency
  helm/gesis/Chart.yaml
Due: gesis helm lint

Avoid to run deploy before merge request is complete
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Add prometheus to Helm chart
  helm/gesis/Chart.yaml
Due: gesis helm lint

Enable prometheus in test and production
  helm/config-test.yaml
  helm/config.yaml
Due: gesis helm lint

Enable cryptnono in production and test
  helm/config-test.yaml
  helm/config.yaml
Due: gesis helm lint

Swap order of dependencies
  helm/gesis/Chart.yaml
Due: gesis helm lint

Add grafana to Helm chart as dependency
  helm/gesis/Chart.yaml
Due: gesis helm lint

Enable grafana in production and test
  helm/config-test.yaml
  helm/config.yaml
Due: gesis helm lint

Add more information about Docker
  docs/docker-101.qmd
Due: pages

Add Ansible installation notes
  docs/_quarto.yml
  docs/production-ansible.qmd
Due: pages

Add Ansible hello world playbook
  ansible/playbook.yaml
  docs/production-ansible.qmd
Due: pages

Add notes about Ansible playbook
  docs/production-ansible.qmd
Due: pages

Add Ansible lint to GitLab CI
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Add installation instructions for GitLab CI
  docs/_quarto.yml
  docs/gitlab-ci-runner-101.qmd
  docs/production-gitlab-ci-runner.qmd
Due: pages

Add GitLab CI deploy rule for Ansible
  .gitlab-ci.yml
  ansible/inventories/production
  ansible/inventories/test
  ansible/orc2.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Fix lint erros in Ansible playbook
  ansible/orc2.yml
Due: none

Fix GitLab CI rule to run Ansible
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Add rule to copy static file in Ansible playbook
  ansible/orc2.yml
Due: none

Fix Ansible error File permissions unset or incorrect.
  ansible/orc2.yml
Due: none

Add notes to run GitLab CI runner as non-root
  docs/gitlab-ci-runner-101.qmd
  docs/production-gitlab-ci-runner.qmd
Due: pages

Add notes of use ansible without password
  docs/production-ansible.qmd
Due: pages

Change ownership of files transfer with Ansible
  ansible/orc2.yml
Due: none

Add Helm chart values for cryptnono
  helm/gesis/values.yaml
Due: gesis helm lint

Add Helm chart values for prometheus
  helm/gesis/values.yaml
Due: gesis helm lint

Add Helm chart values to graphana
  helm/gesis/values.yaml
Due: gesis helm lint

Add missing prometheus Helm chart config
  helm/config.yaml
Due: gesis helm lint

Add symbolic link creation in Ansible
  ansible/orc2.yml
Due: none

Fix template of GitLab daemon
  docs/gitlab-ci-runner-101.qmd
Due: pages

Add CI_DEBUG_TRACE to GitLab CI
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Add hello world to Ansible playbook
  ansible/orc2.yml
Due: none

Add tip to help debug GitLab CI runner
  docs/gitlab-ci-runner-101.qmd
Due: pages

Revert "Add CI_DEBUG_TRACE to GitLab CI"
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Print ansible version in GitLab CI
  .gitlab-ci.yml
Due: Build container with Kubernetes and git-crypt, gesis helm lint, pages

Revert "Add hello world to Ansible playbook"
  ansible/orc2.yml
Due: none

Change GitLab CI configuration steps
  docs/gitlab-ci-runner-101.qmd
  docs/production-gitlab-ci-runner.qmd
Due: pages

Fix GitLab CI fail with 'No such file or directory'
  docs/gitlab-ci-runner-101.qmd
  docs/production-gitlab-ci-runner.qmd
Due: pages

Path conditions:
  Build container with Kubernetes and git-crypt: any of: .gitlab-ci.yml, Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
