Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add header announce
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Bootstrap alert before at the top of main
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix GitLab rules to build static page
  .gitlab-ci.yml
Due: none

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sort strings
  helm/config/common/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increment list
  helm/config/common/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Extend list
  helm/config/common/_secret-banned-list.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Bring changes from mybinder.org-deploy
  helm/config/common/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Ban GitHub user
  helm/config/common/_secret-banned-list.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Re-organise Helm configuration files
  helm/config/common/_secret-banned-list.yaml
  helm/config/common/_secret-mybinder.org-common.yaml
  helm/copy-of-mybinder.org-deploy/README.md
  helm/copy-of-mybinder.org-deploy/config/prod.yaml
  helm/copy-of-mybinder.org-deploy/config/staging.yaml
  helm/copy-of-mybinder.org-deploy/secrets/ban.py
  helm/copy-of-mybinder.org-deploy/secrets/banned_hosts.txt
  helm/copy-of-mybinder.org-deploy/secrets/config/common/bans.yaml
  helm/copy-of-mybinder.org-deploy/secrets/config/common/common.yaml
  helm/gesis-config/production.yaml
  helm/gesis-config/secrets/production.yaml
  helm/gesis-config/secrets/stage.yaml
  helm/gesis-config/secrets/values.yaml
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update Helm files in GitLab CI
  .gitlab-ci.yml
Due: none

Document Network Policy
  docs/_quarto.yml
  docs/development-environment.qmd
  docs/hello-minikube.qmd
  docs/network-policy-with-minikube.qmd
Due: pages

Add missing \ in GitLab CI
  .gitlab-ci.yml
Due: none

Remove Flannel and Install Calico
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible lint
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Calico resources to Ansible
  ansible/calico/custom-resources.yaml
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix YAML validation from Ansible
  ansible/calico/custom-resources.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add missing file
  helm/charts/gesis/templates/netpol-ingress.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add missing Helm Chart template file
  helm/charts/gesis/templates/netpol.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Enable BinderHub Network Policy
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add missing values in Helm Chart binderhub.networkPolicy
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase Helm Chart version
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update Network Policy pod selection
  helm/charts/gesis/templates/netpol-ingress.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change calico ipPools
  ansible/calico/custom-resources.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update version of JupyterHub in documentation
  docs/local-jupyterhub.qmd
Due: pages

Add Single User Network Policy
  helm/charts/gesis/templates/netpol-ingress.yaml
  helm/charts/gesis/templates/netpol.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
