Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Reorganise Helm files
  .gitlab-ci.yml
  helm/charts/gesis/.helmignore
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/files/etc/binderhub/templates/about.html
  helm/charts/gesis/files/etc/binderhub/templates/error.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/etracker.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/footer.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/nav.html
  helm/charts/gesis/files/etc/binderhub/templates/index.html
  helm/charts/gesis/files/etc/binderhub/templates/loading.html
  helm/charts/gesis/files/etc/binderhub/templates/page.html
  helm/charts/gesis/files/etc/jupyter/jupyter_notebook_config.py
  helm/charts/gesis/files/etc/jupyter/templates/login.html
  helm/charts/gesis/files/etc/jupyter/templates/page.html
  helm/charts/gesis/files/etc/jupyter/templates/tree.html
  helm/charts/gesis/templates/NOTES.txt
  helm/charts/gesis/templates/alert-local-persistent-volume.yaml
  helm/charts/gesis/templates/binder-templates-gesis.yaml
  helm/charts/gesis/templates/binder-templates.yaml
  helm/charts/gesis/templates/events-archiver-key.yaml
  helm/charts/gesis/templates/grafana-local-persistent-volume.yaml
  helm/charts/gesis/templates/prometheus-local-persistent-volume.yaml
  helm/charts/gesis/templates/user-etc-jupyter-templates.yaml
  helm/charts/gesis/templates/user-etc-jupyter.yaml
  helm/charts/gesis/values.yaml
  helm/config/_secret-prod.yaml
  helm/config/common/_secret-mybinder.org-common.yaml
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy, pages

Increase the pod_quota to 200
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Ban GitHub user because of crypto mining
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add minesweeper
  helm/charts/gesis/files/minesweeper/minesweeper.py
  helm/charts/gesis/files/minesweeper/secrets/herorat.py
Due: gesis helm lint, gesis helm deploy

Add minesweeper to values
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Update git-crypt rules
  .gitattributes
Due: none

Fix GitLab CI rule
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Change Docker image cleaner threshold
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add crypto mining issue template
  .gitlab/issue_templates/Crypto mining.md
Due: none

Add secret configuration for JupyterHub
  helm/config/_secret-prod.yaml
Due: gesis helm lint, gesis helm deploy

Remove config files of test environment
  helm/_secret-test.yaml
  helm/config-test.yaml
Due: gesis helm lint, gesis helm deploy

Reduce pod quota during weekend
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Reduce pod quota to zero
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Increase version of BinderHub
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota
  helm/charts/gesis/values.yaml
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Revert "Increase version of BinderHub"
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Remove Network File System (NFS) storage
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Revert change to config.BinderHub.image_prefix
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Reduce pod_quota until resolve Docker API limit
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Update README.md
  README.md
Due: none

Add GitHub Action
  .github/workflows/status.yml
Due: none

Rename GITHUB_TOKEN to SECRET_GITHUB_TOKEN
  docs/production-monitoring-status.qmd
  test/test_build.py
Due: pages

Add time limit to status test
  test/test_build.py
Due: none

Resolve PyLint
  test/test_build.py
Due: none

Fix black call in GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Fix GitHub jobs.<>.runs-on
  .github/workflows/status-verification.yml
Due: none

Improve GitHub jobs name
  .github/workflows/status-verification.yml
Due: none

Reduce binderhub.config.LaunchQuota.total_quota
  helm/charts/gesis/values.yaml
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Add GitHub badge
  README.md
Due: none

Add singleuser.initContainers to Helm chart
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Remove config.BinderHub.pod_quota
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Move config.BinderHub.build_image to config.KubernetesBuildExecutor.build_image
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add bot to check mybinder.org update
  .gitlab-ci.yml
  bot/mybinder.org/.gitlab-ci.yml
  bot/mybinder.org/README.md
  bot/mybinder.org/bot.py
  bot/mybinder.org/requirements.txt
Due: gesis helm lint, gesis helm deploy, pages

Move GitLab CI tasks
  .gitlab-ci.yml
  bot/mybinder.org/.gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Try to fix GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Try to fix GiLab CI
  .gitlab-ci.yml
  bot/mybinder.org/.gitlab-ci.yml
  bot/mybinder.org/bot.py
Due: gesis helm lint, gesis helm deploy, pages

Increase binderhub.config.LaunchQuota.total_quota to 10
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Add issue template for fail to launch
  .github/ISSUE_TEMPLATE/repo-build-failure-report.md
  .github/ISSUE_TEMPLATE/repo-launch-failure-report.md
  .gitlab/issue_templates/Fail to launch container.md
Due: none

Revert "Add singleuser.initContainers to Helm chart"
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  gesis helm deploy: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
