Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Enable automatic upgrade of database
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Python script to be run as cron job to kill succeeded pods
  cron/kill-succeeded-pods.py
Due: none

Remove before_script from GitLab CI
  .gitlab-ci.yml
Due: none

Remove not used import
  cron/kill-succeeded-pods.py
Due: none

Add Ansible playbook to install cron job
  ansible/orc2.yml
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix GitLab CI YAML error
  .gitlab-ci.yml
Due: none

Install Python pip with Ansible
  ansible/orc2.yml
  ansible/plays/install-generic-dependencies.yml
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible YAML
  ansible/plays/install-generic-dependencies.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Reorganise documentation
  docs/_quarto.yml
  docs/dev-binderhub.qmd
  docs/git-crypt-install.qmd
  docs/git-crypt.qmd
  docs/git-repositories.qmd
  docs/gitlab-install-agent.qmd
  docs/openlens-101.qmd
  docs/personal-access-tokens.qmd
  docs/secret-files.qmd
  docs/version-log-book.qmd
  docs/what-is.qmd
Due: pages

Fix Ansible YAML file
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use rsync to copy NGINX static files
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Install rsync with Ansible
  ansible/plays/install-generic-dependencies.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Try workaround mentioned in GitHub
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix variable name in Ansible workaround
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Create new how-to to cover pod inspection
  docs/_quarto.yml
  docs/inspect-running-single-user-pod.qmd
Due: pages

Add more information regarding inspect a running pod
  docs/inspect-running-single-user-pod.qmd
Due: pages

Resolve deprecated warning in stage's binder pod
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change file permission set by Ansible
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Automatically run ansible deploy to production
  .gitlab-ci.yml
Due: none

Deploy Ansible if cron job changes
  .gitlab-ci.yml
Due: none

Cron job should append log
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Change cronjob to run every 5 minutes
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Correct Ansible inventory for production environment
  ansible/inventories/production
  ansible/vault/production.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Rename files to work with Ansible
  nginx/sites-available/default_production
  nginx/sites-available/orc2_production
Due: gesis ansible stage deploy, gesis ansible production deploy

Update secrets
  ansible/vault/production.yml
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix YAML
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Increase number of pods in production
  helm/config/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Store copy of kubelet configuration
  ansible/var/lib/kubelet/config.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Configure Ansible to use kubelet configuration
  ansible/orc2.yml
  ansible/plays/k8s-create-generic-worker-nodes.yml
  ansible/plays/k8s-create-jupyter-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix YAML format
  ansible/var/lib/kubelet/config.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix name of Ansible playbook
  ansible/orc2.yml
  ansible/plays/k8s-create-jupyterhub-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Copy kubelet config after join cluster
  ansible/plays/k8s-create-jupyterhub-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Re-organise information about OpenLens in the documentation
  docs/_quarto.yml
  docs/openlens/connect.qmd
  docs/openlens/img/openlens-add-cluster.png
  docs/openlens/img/openlens-cluster-dashboard.png
  docs/openlens/img/openlens-new-cluster.png
  docs/openlens/img/openlens.png
  docs/openlens/index.qmd
  docs/openlens/install.qmd
Due: pages

test auto deploy
  helm/config/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase number of user pods to 300
  helm/config/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Python NameError
  cron/kill-succeeded-pods.py
Due: none

Add GitLab CI rule for web trigger
  .gitlab-ci.yml
Due: none

Only build documentation with push
  .gitlab-ci.yml
Due: none

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
