Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update BinderHub version
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Affinity for stage server
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Increase quota for stage
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix name of server in Ansible inventory
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Reduce image cleaner settings for testing cluster
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update Stage inventory
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update Stage NGINX reverse proxy
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Update selection of storage and server
  ansible/inventories/production
  ansible/inventories/stage
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/templates/grafana-local-persistent-volume.yaml
  helm/charts/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update reverse proxy for stage server
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Add header to NGINX for Prometheus
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Relocate Grafana datasource
  helm/copy-of-mybinder.org-deploy/config/staging.yaml
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Use Kubernetes mDNS for Grafana
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Delete old datasources for Grafana
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add contactpoints to Grafana configuration
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add alert
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add configuration to production
  helm/gesis-config/production.yaml
  helm/gesis-config/secrets/production.yaml
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Delete old contact point
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Disable Grafana persistence
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update details of Grafana alerts
  helm/gesis-config/secrets/stage.yaml
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix relativeTimeRange in alert
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Dashboard to Grafana
  helm/charts/gesis/files/var/lib/grafana/dashboards/1860-node-exporter-full.json
  helm/charts/gesis/templates/grafana-dashboards.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix cannot unmarshal string into Go struct field Volume.spec.template.spec.volumes.configMap of type v1.ConfigMapVolumeSource
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Dashboard provider
  helm/charts/gesis/values.yaml
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add dashboard
  helm/charts/gesis/values.yaml
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Relocate configuration
  helm/gesis-config/secrets/production.yaml
  helm/gesis-config/secrets/stage.yaml
  helm/gesis-config/secrets/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Move alerts to production
  helm/gesis-config/secrets/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add alert for the number of users
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy
