Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*, cron/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*, cron/**/*
  gesis nginx update with ansible at stage environment: any of: helm/charts/gesis/files/etc/binderhub/templates/page.html, pages/**/*, nginx/**/*
  gesis nginx update with ansible at stage production: any of: helm/charts/gesis/files/etc/binderhub/templates/page.html, pages/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Disable stage
  .gitlab-ci.yml
Due: none

Add mybinder.org domain to production
  nginx/sites-available/orc2_production
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production

Upgrade Kubernetes
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Update apt install
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Add missing server_name
  nginx/sites-available/orc2_production
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production

Disable custom template
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update Kubernetes on server
  ansible/plays/deprecate.yml
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update Helm to 3.16
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use string to instead of number
  ansible/plays/deprecate.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Avoid update cache when removing sources
  ansible/plays/deprecate.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix unsupported parameters for (ansible.builtin.file) module
  ansible/plays/deprecate.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy
