Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Upgrade version of BinderHub
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Upgrade repo2docker
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change contact email
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update IP Ban
  helm/copy-of-mybinder.org-deploy/secrets/config/common/bans.yaml
  helm/copy-of-mybinder.org-deploy/secrets/config/common/common.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update copy of mybinder.org
  helm/copy-of-mybinder.org-deploy/secrets/config/common/bans.yaml
  helm/copy-of-mybinder.org-deploy/secrets/config/common/common.yaml
  helm/copy-of-mybinder.org-deploy/secrets/config/common/cryptnono.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add helm/copy-of-mybinder.org-deploy/secrets/config/common/cryptnono.yaml to deploy
  .gitlab-ci.yml
Due: none

Restore ban list from 208b91d1e6b45ea9d504de9fe0ce636a914cc25f~
  helm/gesis-config/secrets/ban.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update ban list
  helm/gesis-config/secrets/ban.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add ban list to GItLab CI
  .gitlab-ci.yml
Due: none

Remove link to persistant GESIS notebook from FAQ
  pages/templates/faq.html
Due: none

Add message about end of persistent notebook
  helm/charts/gesis/files/etc/binderhub/templates/page.html
  pages/templates/shut-down-persistent-gesis-notebooks.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update NGINX configuration
  nginx/sites-available/orc2_production
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Remove broken link
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Simplify PersistentBinderHub alert
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Adjust cryptnono
  helm/copy-of-mybinder.org-deploy/secrets/ban.py
  helm/copy-of-mybinder.org-deploy/secrets/config/common/common.yaml
  helm/copy-of-mybinder.org-deploy/secrets/config/common/cryptnono.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update list of users banned due crypto mining
  helm/gesis-config/secrets/ban.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update ps aux command
  .gitlab/issue_templates/Crypto mining.md
Due: none

Expand crypto mining issue instructions
  .gitlab/issue_templates/Crypto mining.md
Due: none

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
