Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, Build container with Python for test, gesis ansible lint, gesis ansible deploy, gesis helm lint, gesis helm deploy, Test script lint, Test script run, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull --target kubernetes -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

Build container with Python for test:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull --target test -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest .
  ...

gesis ansible lint:
  stage: test
  image:
    name: pipelinecomponents/ansible-lint
    entrypoint:
    - ''
  dependencies: []
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible deploy:
  tags:
  - notebooks_gesis_org
  stage: deploy
  script:
  - echo $ANSIBLE_VAULT > ansible/.ansible-vault-password-file
  - ansible --version
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

Test script lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest
  dependencies: []
  script:
  - black --check test
  - pylint test/*.py

Test script run:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest
  dependencies: []
  script:
  - pytest --binder-url https://notebooks.gesis.org/binder/ --hub-url https://notebooks.gesis.org/binder/jupyter/ test

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Use /etc/apt/trusted.gpg.d/ for Ansible rule
  ansible/k8s-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Split playbook into smaller ones
  .gitlab-ci.yml
  ansible/orc2.yml
  ansible/plays/k8s-install.yml
  ansible/plays/k8s-prepare-node.yml
  ansible/plays/nginx-config.yml
  ansible/plays/nginx-install.yml
Due: gesis ansible lint, gesis ansible deploy

Create ~/.ssh/ in GitLab CI
  .gitlab-ci.yml
Due: none

Try to debug GitLab CI
  .gitlab-ci.yml
Due: none

Add Ansible Lint to Docker
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Python for test

Change permission of ANSIBLE_SSH_PRIVATE_KEY
  .gitlab-ci.yml
Due: none

Change name of ANSIBLE_INVENTORY
  .gitlab-ci.yml
Due: none

Use GitLab CI extends to avoid duplication
  .gitlab-ci.yml
Due: none

Fix vault variable
  .gitlab-ci.yml
Due: none

Add missing changes to inventory
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible deploy

Deploy ansible to stage in merge request
  .gitlab-ci.yml
Due: none

Add new ansible call to GitHub CI
  .gitlab-ci.yml
Due: none

Add ping to help debug
  .gitlab-ci.yml
Due: none

Try to ping stage servers
  .gitlab-ci.yml
Due: none

Add new Ansible playbook
  ansible/k8s-jupyterhub.yml
Due: gesis ansible lint, gesis ansible deploy

Try to resolve 'Could not open a connection to your authentication agent.'
  .gitlab-ci.yml
Due: none

Disable build container in pull request
  .gitlab-ci.yml
Due: none

Change Dockerfile
  .gitlab-ci.yml
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Python for test

Resolve Permissions 0666 are too open.
  .gitlab-ci.yml
Due: none

Revert "Disable build container in pull request"
  .gitlab-ci.yml
Due: none

Rename Ansible inventory
  ansible/inventories/stage
  ansible/inventories/test
Due: gesis ansible lint, gesis ansible deploy

Replace include with import_playbook
  ansible/orc2.yml
Due: gesis ansible lint, gesis ansible deploy

Fix GitLab CI to run merge request deploy on stage server
  .gitlab-ci.yml
Due: none

Rename variables
  ansible/inventories/stage
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible deploy

Revert "Revert "Disable build container in pull request""
  .gitlab-ci.yml
Due: none

Add --private-key to GitLab CI
  .gitlab-ci.yml
Due: none

Use Docker for GitLab CI tasks with ansible
  .gitlab-ci.yml
Due: none

Fix Kubernetes version to 1.27
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible deploy

Replace GPG URL
  ansible/k8s-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Add public key
  .gitlab-ci.yml
Due: none

Delete old files
  ansible/k8s-control-panel.yml
  ansible/k8s-jupyterhub.yml
Due: gesis ansible lint, gesis ansible deploy

Avoid check hostkeys
  .gitlab-ci.yml
Due: none

Add --inventory to GitLab CI call
  .gitlab-ci.yml
Due: none

Move some commands to GitLab CI before_script
  .gitlab-ci.yml
Due: none

Resolve ansible-lint issues
  ansible/k8s-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Add missing args to ansible call
  .gitlab-ci.yml
Due: none

Add Ansible playbook
  ansible/k8s-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Remove --extra-vars ansible_become_password
  .gitlab-ci.yml
Due: none

Fix chmod command in GitLab CI
  .gitlab-ci.yml
Due: none

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Python for test: any of: Dockerfile, test/env.yaml
  gesis ansible lint: any of: ansible/**/*
  gesis ansible deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm deploy: any of: helm/**/*
  Test script lint: any of: test/**/*
  Test script run: any of: test/**/*
  pages: any of: docs/**/*
