Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Add test script for build repository
  test/test_build.py
Due: none

Format test files with black
  test/test_build.py
Due: none

Improve test_build.py based on PyLint
  test/test_build.py
Due: none

Improve test_launch.py based on PyLint
  test/test_launch.py
Due: none

Add .pylintrc
  .pylintrc
Due: none

Add test for multiple repositories
  conftest.py
  test_dev/test_multiple_launch.py
Due: none

Add git to Conda environment
  test/env.yaml
Due: none

Reference NextCloud in documentation
  docs/index.qmd
Due: pages

Reference Ansible in documentation
  docs/index.qmd
Due: pages

Add Site Reliability Guide for mybinder.org to list of resources
  docs/where-to-ask-questions.qmd
Due: pages

Add pod_quota
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Upgrade version of Binder
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Upgrade repo2docker
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add git config to test script
  test/test_build.py
Due: none

Reformat Python script by black
  test/test_build.py
  test/test_launch.py
Due: none

Add Helm config common to BinderHub Federation
  .gitlab-ci.yml
  helm/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm deploy, pages

Increase BinderHub version in Helm chart
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Change pod quota in BinderHub to 100
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add issue template for GitHub
  .github/ISSUE_TEMPLATE/repo-build-failure-report.md
  .github/ISSUE_TEMPLATE/service-offline-report.md
  .github/ISSUE_TEMPLATE/unhealth-report.md
Due: none

Improve GitHub issue template
  .github/ISSUE_TEMPLATE/repo-build-failure-report.md
  .github/ISSUE_TEMPLATE/service-offline-report.md
  .github/ISSUE_TEMPLATE/unhealth-report.md
Due: none

Add extra config to BinderHub Helm chart values
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add private key for events archiver
  helm/_secret.yaml
Due: gesis helm lint, gesis helm deploy

Add Kubernetes secret storage
  helm/gesis/templates/events-archiver-key.yaml
Due: gesis helm lint, gesis helm deploy

Add placeholder in values.yaml to pass Helm lint
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add note about Docker log in Windows
  docs/docker-101.qmd
Due: pages

Add secrets to volume
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Change ingress.hosts for Prometheus and Grafana
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Fix Grafana data source
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Add path to Grafana ingress configuration
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Increase BinderHub version
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Update version of BinderHub
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Update ban list
  helm/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm deploy

Add https://github.com/Sologanian to ban list
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add hostLibDir to Docker-inside-Docker (DinD) configuration
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add binderhub.service.annotations for Prometheus
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Update BinderHub version
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Add https://github.com/PiTi2k5 to ban list
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Increase version of BinderHub
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Ban GitHub user JayWalker512 due to crypto mining
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  gesis helm deploy: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
