Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add template for ticket to IT
  .gitlab/issue_templates/GESIS IT-HelpDesk.md
Due: none

Disable SWAP in fstab
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Allow downgrade
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove allow_downgrade
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Upgrade helm to 3.15.*
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Install containerd.io=1.7.*
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix containerd.io installation
  ansible/plays/k8s-install-containerd.yml
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Enforce terms and conditions
  helm/gesis-config/secrets/ban.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy
