Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:latest .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  stage: deploy-stage
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:latest
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  stage: deploy-prod
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:latest
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm deploy:
  stage: deploy-prod
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Docker public GPG key is ASCII
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Ansible playbook to create Kubernetes worker nodes
  ansible/orc2.yml
  ansible/plays/k8s-create-cluster.yml
  ansible/plays/k8s-create-control-panel.yml
  ansible/plays/k8s-create-worker-nodes.yml
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix path of kubernetes_join_command file
  ansible/plays/k8s-create-control-panel.yml
  ansible/plays/k8s-create-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix "Destination /proc/sys/net/ipv4 not writable
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible lint error
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use kubernetes.core to install Flannel
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Install Ansible kubernetes.core collection
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Fix Ansible failed_when
  ansible/plays/k8s-create-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Create ANSIBLE_CONTROL_NODE_TMP
  .gitlab-ci.yml
  ansible/plays/k8s-create-control-panel.yml
  ansible/plays/k8s-create-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible register call
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Create missing file
  ansible/plays/k8s-bridge-traffic.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Ansible playbook for GitLab agent
  ansible/orc2.yml
  ansible/plays/k8s-install-gitlab-agent.yml
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add missing helm in Docker
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Enable build container in pull request
  .gitlab-ci.yml
Due: none

Add kubelet, kubeadm and kubectl to Docker
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Add redirect to curl in Dockerfile
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Fix Kubernetes context for GitLab CI
  .gitlab-ci.yml
Due: none

Remove GitLab CI duplicated rule
  .gitlab-ci.yml
Due: none

Add GitLab Agent to main playbook
  ansible/orc2.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use dynamic Docker image tag
  .gitlab-ci.yml
Due: none

Add helm to Kubernetes control plane
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix helm version in Dockerfile
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Only helm 3.11 is available at https://helm.baltorepo.com/stable/debian
  Dockerfile
  ansible/plays/k8s-install.yml
Due: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Limit some GitLab CI to main branch
  .gitlab-ci.yml
Due: none

Fix name of Ansible task
  ansible/plays/k8s-install-gitlab-agent.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove extra space in Ansible playbook
  ansible/plays/k8s-install-gitlab-agent.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove old dependencies in GitLab CI
  .gitlab-ci.yml
Due: none

Fix container name
  .gitlab-ci.yml
Due: none

Add Ansible playbook for node affinity
  ansible/orc2.yml
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Create directory for Kubernetes Volume
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add missing Kubernetes label
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix YAML identation
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update NGINX rules for stage
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Fix server_name in NGINX configuration for stage environment
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Change port used by Prometheus when querying BinderHub
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Fix GitLab CI
  .gitlab-ci.yml
Due: none

Small increase to user quota
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Add GitLab agent named production
  .gitlab/agents/production/config.yaml
Due: none

Add secret
  ansible/vault/production.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Small increase in pod quota
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm deploy: any of: helm/**/*
  pages: any of: docs/**/*
