Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gesis helm lint, pages

gesis helm lint:
  stage: test
  image:
    name: alpine/helm:3.11.1
    entrypoint:
    - ''
  script:
  - helm version
  - helm lint gesis

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Improve GitLab CI
  .gitlab-ci.yml
Due: none

Add binderhub dependency to GESIS chart
  gesis/Chart.yaml
Due: gesis helm lint

Ignore helm dependency charts
  .gitignore
Due: none

Update helm chart values
  gesis/_secret.yaml
  gesis/values.yaml
Due: gesis helm lint

Remove files from helm chart tempaltes
  gesis/templates/NOTES.txt
  gesis/templates/_helpers.tpl
  gesis/templates/deployment.yaml
  gesis/templates/hpa.yaml
  gesis/templates/ingress.yaml
  gesis/templates/service.yaml
  gesis/templates/serviceaccount.yaml
  gesis/templates/tests/test-connection.yaml
Due: none

Add helm chart to GitLab CI artifact
  .gitlab-ci.yml
Due: none

Avoid GitLab CI to download artifacts
  .gitlab-ci.yml
Due: none

Run CI for merge request
  .gitlab-ci.yml
Due: none

Fix typo in GitLab CI
  .gitlab-ci.yml
Due: none

Move helm chart to new directory
  .gitignore
  .gitlab-ci.yml
  helm/_secret-test.yaml
  helm/_secret.yaml
  helm/config-test.yaml
  helm/config.yaml
  helm/gesis/.helmignore
  helm/gesis/Chart.yaml
  helm/gesis/templates/NOTES.txt
  helm/gesis/values.yaml
Due: none

Add more configurations to helm chart
  helm/gesis/values.yaml
Due: none

Fix documentation of production environment
  docs/production-k8s-setup.qmd
Due: pages

Add installation instructions to binder
  docs/_quarto.yml
  docs/production-binderhub.qmd
Due: pages

Enforce string for node selector
  helm/gesis/values.yaml
Due: none

Make local file explicity
  docs/production-binderhub.qmd
Due: pages

Update NGINX configuration
  nginx/sites-available/orc2
Due: none

Fix unknown directive "Redirect"
  nginx/sites-available/orc2
Due: none

Fix node port
  helm/gesis/values.yaml
Due: none

Add issue template
  .gitlab/issue_templates/general.md
Due: none

Fix Jupyter Hub port in NGINX configuration
  nginx/sites-available/orc2
Due: none

Add config map and static files
  helm/gesis/files/etc/binderhub/templates/about.html
  helm/gesis/files/etc/binderhub/templates/error.html
  helm/gesis/files/etc/binderhub/templates/index.html
  helm/gesis/files/etc/binderhub/templates/loading.html
  helm/gesis/files/etc/binderhub/templates/page.html
  helm/gesis/files/etc/jupyterhub/_secret_user_id.json
  helm/gesis/files/etc/jupyterhub/extra_config.json
  helm/gesis/files/etc/jupyterhub/extra_config.py
  helm/gesis/files/etc/jupyterhub/templates/404.html
  helm/gesis/files/etc/jupyterhub/templates/about.html
  helm/gesis/files/etc/jupyterhub/templates/admin.html
  helm/gesis/files/etc/jupyterhub/templates/binder_questions.html
  helm/gesis/files/etc/jupyterhub/templates/error.html
  helm/gesis/files/etc/jupyterhub/templates/faq.html
  helm/gesis/files/etc/jupyterhub/templates/featured_projects.html
  helm/gesis/files/etc/jupyterhub/templates/gesis/etracker.html
  helm/gesis/files/etc/jupyterhub/templates/gesis/footer.html
  helm/gesis/files/etc/jupyterhub/templates/gesis/header.html
  helm/gesis/files/etc/jupyterhub/templates/gesis/nav.html
  helm/gesis/files/etc/jupyterhub/templates/home.html
  helm/gesis/files/etc/jupyterhub/templates/orc_home.html
  helm/gesis/files/etc/jupyterhub/templates/page.html
  helm/gesis/files/etc/jupyterhub/templates/takeout.html
  helm/gesis/files/etc/jupyterhub/templates/team.html
  helm/gesis/files/etc/jupyterhub/templates/terms_of_use.html
  helm/gesis/templates/binder-templates-gesis.yaml
  helm/gesis/templates/binder-templates.yaml
  helm/gesis/templates/user-etc-jupyter-templates.yaml
  helm/gesis/templates/user-etc-jupyter.yaml
  helm/gesis/values.yaml
Due: none

Fix GitLab CI rules.if.changes
  .gitlab-ci.yml
Due: none

Hard code value for production variable
  helm/gesis/values.yaml
Due: none

Copy helm/gesis/files from old repository
  helm/gesis/files/etc/binderhub/templates/about.html
  helm/gesis/files/etc/binderhub/templates/gesis/etracker.html
  helm/gesis/files/etc/binderhub/templates/gesis/footer.html
  helm/gesis/files/etc/binderhub/templates/gesis/header.html
  helm/gesis/files/etc/binderhub/templates/gesis/nav.html
  helm/gesis/files/etc/binderhub/templates/index.html
  helm/gesis/files/etc/binderhub/templates/loading.html
  helm/gesis/files/etc/binderhub/templates/page.html
  helm/gesis/files/etc/jupyter/jupyter_notebook_config.py
  helm/gesis/files/etc/jupyter/templates/login.html
  helm/gesis/files/etc/jupyter/templates/page.html
  helm/gesis/files/etc/jupyter/templates/tree.html
  helm/gesis/files/etc/jupyterhub/_secret_user_id.json
  helm/gesis/files/etc/jupyterhub/extra_config.json
  helm/gesis/files/etc/jupyterhub/extra_config.py
  helm/gesis/files/etc/jupyterhub/templates/404.html
  helm/gesis/files/etc/jupyterhub/templates/about.html
  helm/gesis/files/etc/jupyterhub/templates/admin.html
  helm/gesis/files/etc/jupyterhub/templates/binder_questions.html
  helm/gesis/files/etc/jupyterhub/templates/error.html
  helm/gesis/files/etc/jupyterhub/templates/faq.html
  helm/gesis/files/etc/jupyterhub/templates/featured_projects.html
  helm/gesis/files/etc/jupyterhub/templates/home.html
  helm/gesis/files/etc/jupyterhub/templates/orc_home.html
  helm/gesis/files/etc/jupyterhub/templates/page.html
  helm/gesis/files/etc/jupyterhub/templates/takeout.html
  helm/gesis/files/etc/jupyterhub/templates/team.html
  helm/gesis/files/etc/jupyterhub/templates/terms_of_use.html
Due: none

Add GitLab issue template
  .gitlab/issue_templates/Fail to build container.md
  .gitlab/issue_templates/General.md
Due: none

Update helm repository
  helm/gesis/Chart.yaml
Due: none

Change Docker in Docker maximum transfer unit (MTU)
  helm/gesis/values.yaml
Due: none

Update Helm chart
  helm/gesis/values.yaml
Due: none

Add GitLab agent
  .gitlab/agents/kubernetes/config.yaml
  docs/_quarto.yml
  docs/gitlab-install-agent.qmd
Due: pages

Document GitLab agent access token.
  docs/gitlab-install-agent.qmd
  docs/img/gitlab-agent-access-token.png
  docs/img/gitlab-connect-a-k8s-cluster.png
  docs/img/gitlab-infrastructure-k8s.png
  docs/img/gitlab-project-settings.png
Due: pages

Add GitLab CI for Kubernetes
  .gitlab-ci.yml
Due: none

Improve documentation about GitLab agent
  docs/gitlab-install-agent.qmd
  docs/img/gitlab-new-agent.png
Due: pages

Update kubectl command
  .gitlab-ci.yml
Due: none

Fix stage in GitLab CI rule
  .gitlab-ci.yml
Due: none

Add Dockerfile to bundle git-crypt with Kubernetes
  .gitlab-ci.yml
  Dockerfile
Due: none

Add helm upgrade to GitLab CI
  .gitlab-ci.yml
Due: none

Fix git-crypt call in GitLab CI
  .gitlab-ci.yml
Due: none

Add helm dependency update to GitLab CI
  .gitlab-ci.yml
Due: none

Add links to README
  README.md
Due: none

Add more directores to gitignore
  docs/.gitignore
Due: pages

Path conditions:
  gesis helm lint: any of: gesis/*
  pages: any of: docs/*
