Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change containers to use Ubuntu 24.04 as base
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Update Kubernetes installation
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Add --break-system-packages to Ansible build
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Revert to Ubuntu 22.04
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Drop --break-system-packages from Docker
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Update Ansible installation of Kubernetes
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove old Kubernetes repository
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add deprecate.yml
  ansible/orc2.yml
  ansible/plays/deprecate.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Disable svko-ilcm04
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Revert "Disable svko-ilcm04"
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use --dearmor for Kubernetes key
  ansible/plays/k8s-install.yml
  ansible/plays/prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove broken Kubernetes archive
  ansible/plays/deprecate.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

truthy value should be one of [false, true]
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Replace shell with command in Ansible
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Enable debugger
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix debugger
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add --yes for gpg
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy
