Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Set up Python 3.11 for GitHub Actions
  .github/workflows/status-verification.yml
Due: none

Add workflow_dispatch to GitHub Actions
  .github/workflows/status-verification.yml
Due: none

Add missing dependency for GitHub Actions
  .github/workflows/status-verification.yml
Due: none

Add missing secret to GitHub Actions
  .github/workflows/status-verification.yml
Due: none

Add _secret-bot/ to git-crypt
  .gitattributes
Due: none

Add rock-fall bot to kill crypt miners processes
  _secret-bot/rock-fall/bot.py
Due: none

Get list of subprocesses
  _secret-bot/rock-fall/bot.py
Due: none

Remove pipe from subprocess.run
  _secret-bot/rock-fall/bot.py
Due: none

Add sheel=True to subprocess.run
  _secret-bot/rock-fall/bot.py
Due: none

Print processes with xmrig
  _secret-bot/rock-fall/bot.py
Due: none

Fix if-clause for str.find()
  _secret-bot/rock-fall/bot.py
Due: none

Remove wrong import
  bot/mybinder.org/bot.py
Due: none

Add ruamel to test requirements
  test/env.yaml
Due: none

Reorganise bot.py
  bot/mybinder.org/bot.py
Due: none

Sort import libraries
  bot/mybinder.org/bot.py
Due: none

Reduce code duplication
  bot/mybinder.org/bot.py
Due: none

Revert "Add ruamel to test requirements"
  test/env.yaml
Due: none

Remove old code from bot
  bot/mybinder.org/bot.py
Due: none

Add GitLab CI rules for schedule
  .gitlab-ci.yml
  bot/mybinder.org/.gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Add PyYAML to test container
  test/env.yaml
Due: none

Add bot execution rules to GitLab CI
  bot/mybinder.org/.gitlab-ci.yml
Due: none

Reformat bot.py with black
  bot/mybinder.org/bot.py
Due: none

Add expiration time for artifacts
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Remove artifact from GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Format file with black
  bot/mybinder.org/bot.py
Due: none

Add missing import
  bot/mybinder.org/bot.py
Due: none

Fix KeyError: 'dependencies'
  bot/mybinder.org/bot.py
Due: none

Set CPU and memory limit
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Increase binderhub.config.LaunchQuota.total_quota to 40
  helm/config/prod.yaml
Due: gesis helm lint, gesis helm deploy

Improve GitLab CI job name
  bot/mybinder.org/.gitlab-ci.yml
Due: none

Isolate Schedule GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Use absolute value for image cleaner limits
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Split status bot
  .gitlab-ci.yml
  Dockerfile
  test/env.yaml
  test/test_build.py
  test/test_http.py
  test/test_launch.py
  test_dev/test_multiple_launch.py
Due: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Split upgrade bot
  .gitlab-ci.yml
  bot/mybinder.org/.gitlab-ci.yml
  bot/mybinder.org/README.md
  bot/mybinder.org/bot.py
  bot/mybinder.org/requirements.txt
Due: gesis helm lint, gesis helm deploy, pages

Remove old conftest.py
  conftest.py
Due: none

Remove GitHub workflow
  .github/workflows/status-verification.yml
Due: none

Add agent for stage
  .gitlab/agents/stage/config.yaml
Due: none

Add TZ variable to Ansible container
  Dockerfile
Due: Build container with Kubernetes and git-crypt

Improve Ansible documentation
  docs/production-ansible.qmd
Due: pages

Add filename to ansible.builtin.apt_repository
  ansible/k8s-control-panel.yml
Due: none

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  gesis helm deploy: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
