Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis nginx update with ansible at stage environment:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis nginx update with ansible at stage production:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

Disable harbor label
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Skip localhost server
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Disable custom scripts
  ansible/orc2.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Redirect / to static page
  nginx/sites-available/orc2_production
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production

Update Kubelet configuration to 1.32
  ansible/var/lib/kubelet/config.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Disable IPv6
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Revert "Redirect / to static page"
  nginx/sites-available/orc2_production
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production

Revert "Disable custom template"
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update ban list
  helm/gesis-config/secrets/ban.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update HTML page with new frontend UI
  helm/charts/gesis/files/etc/binderhub/templates/index.html
  helm/charts/gesis/files/etc/binderhub/templates/loading.html
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis nginx update with ansible at stage environment, gesis nginx update with ansible at stage production, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Remove static pages
  .gitlab-ci.yml
Due: none

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Disable repo2docker memory limit
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Disable repo2docker memory limit in BinderHub
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Replace password with token
  helm/gesis-config/secrets/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Replace password with token for pull
  helm/gesis-config/secrets/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*, cron/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*, cron/**/*
  gesis nginx update with ansible at stage environment: any of: helm/charts/gesis/files/etc/binderhub/templates/page.html, pages/**/*, nginx/**/*
  gesis nginx update with ansible at stage production: any of: helm/charts/gesis/files/etc/binderhub/templates/page.html, pages/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
