Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Fix Ansible file
  ansible/plays/nginx-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Unsupported parameters
  ansible/plays/k8s-install-containerd.yml
  ansible/plays/k8s-install.yml
  ansible/plays/nginx-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update stage secret
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update secret
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Improve GitLab CI
  .gitlab-ci.yml
Due: none

Add minimal configuration for harbor
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add DOCKER_CLIENT_TIMEOUT to environment variables
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add staticjinja templates
  pages/templates/_base.html
  pages/templates/about.html
  pages/templates/faq.html
Due: none

Rename proflle image
  nginx/static/images/arnim-bleier.jpg
  nginx/static/images/dhurim-sylejmani.jpg
  nginx/static/images/kenan-erdogan.jpg
  nginx/static/images/mridul-seth.jpg
  nginx/static/images/petar-dinev.png
  nginx/static/images/raniere-silva.jpg
  nginx/static/images/team2.jpg
  nginx/static/images/team5.png
Due: gesis ansible stage deploy, gesis ansible production deploy

Add small custom CSS
  nginx/static/styles/gesis.css
Due: gesis ansible stage deploy, gesis ansible production deploy

Change HTML space
  .editorconfig
Due: none

Update Docker to have staticjinja
  .gitlab-ci.yml
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Fix typo in GitLab CI
  .gitlab-ci.yml
Due: none

Add missing verb for staticjinja
  .gitlab-ci.yml
Due: none

Add more stages for GitLab CI
  .gitlab-ci.yml
Due: none

Update GitLab CI
  .gitlab-ci.yml
Due: none

Add tag to Ansible config
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix typo in description
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add active navigation bar
  pages/templates/_base.html
  pages/templates/about.html
  pages/templates/faq.html
Due: none

Reuse variable in template
  pages/templates/_base.html
Due: none

Minor fix for navigation bar
  pages/templates/_base.html
  pages/templates/about.html
  pages/templates/faq.html
Due: none

Bring changes from upstream
  helm/charts/gesis/files/minesweeper/minesweeper.py
  helm/charts/gesis/files/minesweeper/secrets/herorat.py
  helm/config/common/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change Kubernetes Affinity
  ansible/inventories/production
  ansible/inventories/stage
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/values.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Ansible inventory for stage environment.
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Attempt to fix build pod allocation
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible playbook
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add servers to binderhub and repo2docker groups
  ansible/inventories/stage
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Node affinity
  ansible/inventories/stage
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/values.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add wrap to staticjinja
  .gitlab-ci.yml
  pages/staticjinja-gesis-notebooks.py
Due: none

Replace file with symbolic link
  helm/charts/gesis/files/etc/binderhub/templates/page.html
  pages/templates/_base.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix typo
  .gitlab-ci.yml
Due: none

Movie variables to Python wrapper
  helm/charts/gesis/files/etc/binderhub/templates/page.html
  pages/staticjinja-gesis-notebooks.py
  pages/templates/about.html
  pages/templates/faq.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix variable name in Jinja2 template
  pages/templates/about.html
Due: none

Move template variables from Helm
  helm/charts/gesis/values.yaml
  helm/config/production.yaml
  helm/config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add more template files
  pages/templates/maintenance.html
  pages/templates/retired.html
  pages/templates/terms.html
Due: none

Delete old HTML template files
  helm/charts/gesis/files/etc/binderhub/templates/gesis/footer.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/nav.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Avoid static_url() function in Jinja template
  helm/charts/gesis/files/etc/binderhub/templates/about.html
  helm/charts/gesis/files/etc/binderhub/templates/error.html
  helm/charts/gesis/files/etc/binderhub/templates/gesis/etracker.html
  helm/charts/gesis/files/etc/binderhub/templates/index.html
  helm/charts/gesis/files/etc/binderhub/templates/loading.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add title block to templates
  pages/templates/about.html
  pages/templates/faq.html
  pages/templates/maintenance.html
  pages/templates/retired.html
  pages/templates/terms.html
Due: none

Update footer
  helm/charts/gesis/files/etc/binderhub/templates/page.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy
