Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Document use of sudo without password
  docs/production-ansible.qmd
Due: pages

Fix relative path in Ansible playbook
  ansible/orc2.yml
Due: none

Restart NGINX with Ansible
  ansible/orc2.yml
Due: none

Use Ansible module
  ansible/orc2.yml
Due: none

Fix typo in Ansible playbook
  ansible/orc2.yml
Due: none

Add new line at the end of Ansible playbook
  ansible/orc2.yml
Due: none

Add EditorConfig file
  .editorconfig
Due: none

Change sudoers filename
  docs/production-ansible.qmd
Due: pages

Migrate documentation covering NFS
  docs/_quarto.yml
  docs/production-k8s-storage.qmd
  docs/production-storage.qmd
Due: pages

Add nfs-subdir-external-provisioner as dependency of Helm chart
  helm/config.yaml
  helm/gesis/Chart.yaml
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add persistent volume manifest
  helm/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Fix nfs chart not found in repo
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Add persistent volume for alert
  helm/gesis/templates/alert-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Updage grafana to 6.54.0
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Fix typo in markdown
  docs/gitlab-install-agent.qmd
Due: pages

Fix path to image in documentation
  docs/gitlab-install-agent.qmd
Due: pages

Attempt to fix prometheus storage
  helm/config.yaml
  helm/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Add persistent volume for grafana
  helm/gesis/templates/grafana-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Fix documentation of tags
  docs/production-k8s-setup.qmd
Due: pages

Fix documentation of NFS
  docs/production-storage.qmd
Due: pages

Upgrade prometheus
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Upgrade binderhub
  helm/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Add more notes about NFS
  docs/production-storage.qmd
Due: pages

Add storageClassName to Prometheus persistentVolume
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Add link to mybinder.org reference files
  helm/config.yaml
  helm/gesis/Chart.yaml
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add grafana configuration
  helm/config.yaml
  helm/gesis/templates/alert-local-persistent-volume.yaml
  helm/gesis/templates/grafana-local-persistent-volume.yaml
  helm/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Remove storageClassName from alert persistent volume
  helm/gesis/templates/alert-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Add directory creation rules to Ansible playbook
  ansible/orc2.yml
Due: none

Change location of Prometheus persistent volume
  helm/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm deploy

Fix Helm chart configuration file
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Fix typo in Helm chart nfs configuration
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Define ansible user in Ansible inventory
  ansible/inventories/production
Due: none

Add variable with ansible password for GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Deploy NGINX when change NGINX files
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Change path of NGINX static files
  ansible/orc2.yml
  nginx/sites-available/orc2
Due: none

Correct IP address of BinderHub server
  nginx/sites-available/orc2
Due: none

Fix path of static files in NGINX configuration
  nginx/sites-available/orc2
Due: none

Change onwership of static files to NGINX
  ansible/orc2.yml
Due: none

Move NGINX root directive from location to server
  nginx/sites-available/orc2
Due: none

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  gesis helm deploy: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
