Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  dependencies: []
  script:
  - docker build --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest .
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - helm version
  - helm dependency update ./helm/gesis
  - helm lint ./helm/gesis
  - helm template gesis ./helm/gesis > gesis.helm.chart.yaml
  artifacts:
    paths:
  ...

gesis helm deploy:
  stage: deploy
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:latest
    entrypoint:
    - ''
  dependencies: []
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  - kubectl config use-context ilcm/orc2:kubernetes
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

NGINX alias directive needs /
  nginx/sites-available/orc2
Due: none

Add NGINX redirect for grafana
  nginx/sites-available/orc2
Due: none

Disable maintenance page for grafana
  nginx/sites-available/orc2
Due: none

Add node port to grafana
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Change binder badge url
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Replace maintainance page for prometheus
  nginx/sites-available/orc2
Due: none

Add Ansible Vault password to GitLab
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Change prometheus to node port
  helm/config.yaml
Due: gesis helm lint, gesis helm deploy

Add ansible HTTP Basic Authentication rule
  ansible/orc2.yml
  ansible/vault/prometheus.yml
Due: none

Print ansible-lint version in GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Skip some tags during Ansible Lint
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Use community.general.htpasswd Ansible rule
  .gitlab-ci.yml
  ansible/orc2.yml
  nginx/sites-available/orc2
Due: gesis helm lint, gesis helm deploy, pages

Wrap jinja variable inside double quotes
  ansible/orc2.yml
Due: none

Add / at the end of lines for multiline script
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Improve Ansible Playbook rules name
  ansible/orc2.yml
Due: none

Try to debug GitLab CI
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Remove multiline
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Clean GitLab CI after debug
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Use rsync to copy files
  ansible/orc2.yml
Due: none

Revert "Use rsync to copy files"
  ansible/orc2.yml
Due: none

Add conda environment for test
  test/env.yml
Due: none

Import test files from mybinder.org
  test/conftest.py
  test/test_http.py
Due: none

Minor improvement in test
  test/conftest.py
  test/test_http.py
Due: none

Add docker build instructions for test
  .gitlab-ci.yml
  Dockerfile
Due: Build container with Kubernetes and git-crypt, gesis helm lint, gesis helm deploy, pages

Avoid GitLab CI tasks run because of cron
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Rename conda environement file
  Dockerfile
  test/env.yaml
Due: Build container with Kubernetes and git-crypt

Add black and pylint to conda environment
  env.yaml
Due: none

Update GitLab CI rules
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Improve test script
  test/conftest.py
  test/test_http.py
Due: none

Add test to launch repository
  test/conftest.py
  test/test_build.py
  test/test_launch.py
Due: none

Improve GitLab rules
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Fix mamba environment
  env.yaml
  test/env.yaml
Due: none

Remove entrypoint for GitLab CI steps using Mamba
  .gitlab-ci.yml
Due: gesis helm lint, gesis helm deploy, pages

Add etcJupyter to Helm chart
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add resources to Helm chart
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Update list of Git banned repositories
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add memory limit to KubernetesBuildExecutor
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add threshold for image cleaner
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add limites to Docker in Docker
  helm/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add documentation of Monitoring Status
  docs/_quarto.yml
  docs/production-monitoring-status.qmd
Due: pages

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  gesis helm lint: any of: .gitlab-ci.yml, helm/**/*
  gesis helm deploy: any of: .gitlab-ci.yml, helm/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
