Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Increase grafana version
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase version of binderhub
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase repo2docker version
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix YAML keyword
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Revert jupyterhub.imagePullSecrets to jupyterhub.imagePullSecret
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Helm value imagePullSecrets
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add DockerHub credentials
  helm/config/common/_secret-container-registry.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Replace jupyter.imagePullSecrets with jupyter.imagePullSecret again
  helm/config/_secret-production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add missing configuration file to GitLab CI
  .gitlab-ci.yml
Due: none

Move file from configuration to chart
  helm/charts/gesis/templates/_secret-container-registry.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Revert "Add missing configuration file to GitLab CI"
  .gitlab-ci.yml
Due: none

Remove file not used
  helm/charts/gesis/templates/_secret-container-registry.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase single user pod memory limit to 4GB
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Create image pull secret
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Remove not used YAML keyword
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Avoid duplication of code
  .gitlab-ci.yml
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
  helm/config/common/_secret-values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change binderhub.jupyterhub.imagePullSecret.registery to binderhub.jupyterhub.imagePullSecret.registry
  helm/config/common/_secret-values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Increase pod quota to 200
  helm/config/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Avoid group and host with same name in Ansible
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update host list in Ansible playbooks
  ansible/plays/k8s-bridge-traffic.yml
  ansible/plays/k8s-create-worker-nodes.yml
  ansible/plays/k8s-install-containerd.yml
  ansible/plays/k8s-install.yml
  ansible/plays/k8s-node-affinity.yml
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update IP address of stage machine
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update IP address of stage servers
  ansible/inventories/stage
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix list of hosts in Ansible playbook
  ansible/plays/k8s-install.yml
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible when clause
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Change group owner of .kube/config in Ansible
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Change ownership of temporary file in Ansible
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add missing Kubernetes config to root
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove hard coded host names
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Print magic variables
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use ansible_hostname to label Kubernetes nodes
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Sync Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix IP address of server in stage cluster
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Increase launch quota for stage cluster
  helm/config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update repo2docker version
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
