Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Re-organise documentation files
  docs/_quarto.yml
  docs/how-to/dev-binderhub.qmd
  docs/how-to/git-crypt-install.qmd
  docs/how-to/git-crypt.qmd
  docs/how-to/git-repositories.qmd
  docs/how-to/gitlab-install-agent.qmd
  docs/how-to/inspect-running-single-user-pod.qmd
  docs/how-to/personal-access-tokens.qmd
  docs/how-to/secret-files.qmd
Due: pages

Reformat file with black
  cron/kill-after-timeout-pods.py
Due: none

Remove unused import
  cron/kill-after-timeout-pods.py
Due: none

Fix local variable error
  cron/kill-after-timeout-pods.py
  cron/kill-succeeded-pods.py
Due: none

Fix image path
  docs/how-to/dev-binderhub.qmd
  docs/how-to/gitlab-install-agent.qmd
  docs/how-to/personal-access-tokens.qmd
  docs/how-to/share-secret-files.qmd
  docs/openlens/connect.qmd
  docs/openlens/index.qmd
  docs/openlens/install.qmd
Due: pages

Add new file to share password database
  docs/how-to/share-password-database.qmd
Due: pages

Add how-to use cryptshare
  docs/how-to/share-password-and-tokens.qmd
Due: pages

Update Quarto book information
  docs/_quarto.yml
Due: pages

Add missing screenshots
  docs/img/cryptshare-add-files.png
  docs/img/cryptshare-home-page.png
  docs/img/cryptshare-message.png
  docs/img/cryptshare-recipients-list.png
  docs/img/cryptshare-transfer-options.png
  docs/img/openlens-add-cluster.png
  docs/img/openlens-cluster-dashboard.png
  docs/img/openlens-new-cluster.png
  docs/img/openlens.png
Due: pages

minor cange in banner message
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix duplicated name in cron job list
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add documentation about broken Docker-in-Docker socket
  docs/_quarto.yml
  docs/img/openlens-cluster.png
  docs/img/openlens-node-selected.png
  docs/img/openlens-node-shell.png
  docs/img/openlens-nodes.png
  docs/img/openlens-workloads-pods-with-node-details.png
  docs/img/openlens-workloads-pods-with-node-shell.png
  docs/img/openlens-workloads-pods-with-selected-node-to-delete.png
  docs/img/openlens-workloads-pods.png
  docs/img/openlens.yml
  docs/openlens/connect.qmd
  docs/openlens/index.qmd
  docs/sre/docker-in-docker.qmd
Due: pages

Add nodeSelector to BinderHub
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Restore binderhub.build_node_selector
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Helm values to match schema
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add nodeSelector for Promethus server
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Helm persistent volume
  helm/charts/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Revert "Add nodeSelector for Promethus server"
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Revert "Fix Helm persistent volume"
  helm/charts/gesis/templates/prometheus-local-persistent-volume.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Run orc2-fix-jupyterhub-bot with --verbose instead of --debug
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Change log level in orc2-fix-jupyterhub-bot.py
  ansible/usr/bin/orc2-fix-jupyterhub-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add try-except block to orc2-fix-jupyterhub-bot.py
  ansible/usr/bin/orc2-fix-jupyterhub-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Reformat code with black
  ansible/usr/bin/orc2-fix-jupyterhub-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Avoid can't subtract offset-naive and offset-aware datetimes
  ansible/usr/bin/orc2-fix-jupyterhub-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add prototype of service to resolve Docker-in-Docker socket
  ansible/usr/bin/orc2-fix-dind-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Enable new service in Ansible playbook
  ansible/etc/systemd/system/orc2-fix-dind-bot.service
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot copy.service
  ansible/plays/systemd4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add instructions to delete socket and pod
  ansible/usr/bin/orc2-fix-dind-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add password to service configuration file
  ansible/etc/systemd/system/orc2-fix-dind-bot.service
  ansible/plays/systemd4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix filename
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix for loop in Ansible template
  ansible/etc/systemd/system/orc2-fix-dind-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix variable name in service
  ansible/etc/systemd/system/orc2-fix-dind-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Install missing dependencies of Python
  ansible/plays/systemd4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix main function of orc2-fix-dind-bot
  ansible/usr/bin/orc2-fix-dind-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add infinity loop to orc2-fix-dind-bot
  ansible/usr/bin/orc2-fix-dind-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Raniere's affiliation
  docs/_quarto.yml
Due: pages

Add documentation about `orc2-fix-dind`
  docs/bots/get-log-fix-dind.qmd
  docs/bots/get-log-fix-jupyterhub.qmd
  docs/bots/is-fix-dind-running.qmd
Due: pages

Add try-except blog to fix-dind-bot
  ansible/usr/bin/orc2-fix-dind-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add notes about kill-after-timeout-pods-bot
  docs/bots/get-log-kill-after-timeout-pods.qmd
  docs/bots/is-kill-after-timeout-pods-running.qmd
Due: pages

Add new sections to documentation navigation bar
  docs/_quarto.yml
Due: pages

Add link to dind bot source code to documentation
  docs/sre/docker-in-docker.qmd
Due: pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
