Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Assign Docker image tag:
  stage: prepare
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build container with Kubernetes and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target k8s --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG} .
  ...

Build container with Ansible and git-crypt:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  script:
  - docker build --target ansible --no-cache --pull -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG} .
  ...

gesis ansible lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - ansible-lint --version
  - ansible-lint --show-relpath ansible

gesis ansible stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: stage
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis ansible production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/ansible:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    ANSIBLE_INVENTORY: production
  before_script:
  - mkdir ~/.ssh/
  - echo StrictHostKeyChecking no > ~/.ssh/config
  - cp $ANSIBLE_SSH_PUBLIC_KEY ~/.ssh/id_ed25519.pub
  ...

gesis helm lint:
  stage: test
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  script:
  - helm version
  - helm dependency update ./helm/charts/gesis
  - helm lint ./helm/charts/gesis
  - helm template gesis ./helm/charts/gesis > gesis.helm.chart.yaml

gesis helm stage deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: stage
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

gesis helm production deploy:
  image:
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/k8s:${DOCKER_IMAGE_TAG}
    entrypoint:
    - ''
  variables:
    HELM_ENVIRONMENT: production
  script:
  - cat $git_crypt_secret_key | base64 -d > git_crypt_secret_key
  - git-crypt unlock git_crypt_secret_key
  ...

pages:
  stage: build
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/quarto:latest
  dependencies: []
  script:
  - quarto check
  - quarto render docs -t html --output-dir public
  - mv docs/public .
  artifacts:
    paths:
    - public

Fix YAML
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Harbor hosts
  helm/gesis-config/secrets/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Update NGINX
  helm/gesis-config/secrets/stage.yaml
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change back to nodePort
  helm/gesis-config/secrets/stage.yaml
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Only use proxy_pass for harbor
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Copy NGINX rules
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Fix nginx: [emerg] unknown "x_forwarded_proto" variable
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

Add ingress-nginx to Helm chart
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Disabled NGINX
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add ingress label
  ansible/inventories/stage
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Import ingress values
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add Helm value url_domain
  helm/gesis-config/stage.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change service to cluster IP
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add ingress to Kubernetes
  helm/charts/gesis/templates/ingress-gesis-notebooks.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix port number of ingress
  helm/charts/gesis/templates/ingress-gesis-notebooks.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm Chart file
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Sync Helm values file
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Fix Kubernetes source
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Allow downgrade
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Allow to build Docker manually
  .gitlab-ci.yml
Due: none

Install Ansible from PyPI
  Dockerfile
Due: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt

Copy NGINX snippets
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Temporarily disable Ansible lint
  .gitlab-ci.yml
Due: none

Avoid problem with Git crypt
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*
