Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm stage deploy, gesis helm production deploy, pages

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm stage deploy: any of: helm/**/*
  gesis helm production deploy: any of: helm/**/*
  pages: any of: docs/**/*

Change GitLab CI to never build new containers with web pipeline
  .gitlab-ci.yml
Due: none

Reduce launch quota to 250
  helm/config/production.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add needs to GitLab CI
  .gitlab-ci.yml
Due: none

Add allow_failure: tru to manual GitLab CI pipelines
  .gitlab-ci.yml
Due: none

Extend GitLab CI needs between stage and production
  .gitlab-ci.yml
Due: none

Correct GitLab needs
  .gitlab-ci.yml
Due: none

Fix needs to include Docker image tag
  .gitlab-ci.yml
Due: none

Fix GitLab CI YAML file
  .gitlab-ci.yml
Due: none

Remove GitLab CI needs
  .gitlab-ci.yml
Due: none

Add bot to restart JupyterHub when API is not accessible
  ansible/usr/bin/orc2-fix-jupyterhub-bot.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add --debug to orc2-fix-jupyterhub-bot service
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Systemd playbook to collection
  ansible/orc2.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Systemd Unit Service to restart JupyterHub
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add Ansible Playbook to add Systemd Unit
  ansible/plays/systemd4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix unrecognized arguments in Service Unit
  ansible/etc/systemd/system/orc2-fix-jupyterhub-bot.service
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add How-to for bot
  docs/_quarto.yml
  docs/bots/get-log-fix-jupyterhub.qmd
  docs/bots/is-fix-jupyterhub-running.qmd
Due: pages

Add explanation section to documentation
  docs/_quarto.yml
  docs/explanation/orc2-fix-jupyterhub.qmd
Due: pages

Fix status badge in README
  README.md
Due: none

Add GItHub action to render documentation
  .github/workflows/quarto.yml
Due: none

Fix issue templates
  .github/ISSUE_TEMPLATE/repo-build-failure-report.md
  .github/ISSUE_TEMPLATE/repo-launch-failure-report.md
  .github/ISSUE_TEMPLATE/service-offline-report.md
  .github/ISSUE_TEMPLATE/unhealth-report.md
  .gitlab/issue_templates/Fail to build container.md
  .gitlab/issue_templates/Fail to launch container.md
Due: none

Use GitHub Pages upload-pages-artifact
  .github/workflows/quarto.yml
Due: none

Minor fix on GitHub Actions for quarto
  .github/workflows/quarto.yml
Due: none

Update README
  README.md
Due: none

Limit GitHub actions to changes in documentation
  .github/workflows/quarto.yml
Due: none

Add name to cron job task in Ansible
  ansible/plays/cron4k8s.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add documentation of kill-succeeded-pods
  docs/_quarto.yml
  docs/bots/get-log-kill-succeeded-pods.qmd
  docs/bots/is-kill-succeeded-pods-running.qmd
  docs/explanation/kill-succeeded-pods.qmd
Due: pages

Update header messange.
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Change stage to match production
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

update header message
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Reorganise Ansible calls to apt
  ansible/orc2.yml
  ansible/plays/k8s-prepare-node.yml
  ansible/plays/nginx-install.yml
  ansible/plays/prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Use Ansible special word "all" for hosts
  ansible/inventories/stage
  ansible/orc2.yml
  ansible/plays/k8s-bridge-traffic.yml
  ansible/plays/k8s-configure-jupyterhub-worker-nodes.yml
  ansible/plays/k8s-create-generic-worker-nodes.yml
  ansible/plays/k8s-create-jupyterhub-worker-nodes.yml
  ansible/plays/k8s-install-containerd.yml
  ansible/plays/k8s-install.yml
  ansible/plays/k8s-prepare-node.yml
  ansible/plays/prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add hosts group in Ansible inventory
  ansible/inventories/stage
  ansible/plays/k8s-create-generic-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update Ansible inventory for production
  ansible/inventories/production
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix Ansible inventory for stage
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Correct path of join command
  ansible/inventories/production
  ansible/inventories/stage
  ansible/plays/k8s-create-generic-worker-nodes.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Remove labels from Kubernetes nodes
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Fix IP address for NGINX in stage cluster
  nginx/sites-available/orc2_stage
Due: gesis ansible stage deploy, gesis ansible production deploy

center navbar-header
  helm/charts/gesis/files/etc/binderhub/templates/gesis/header.html
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy

Add cron job to kill timed out pods
  ansible/plays/cron4k8s.yml
  cron/kill-after-timeout-pods.py
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update jupyter.cull.maxAge
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm stage deploy, gesis helm production deploy
