Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, Build container with Python for test, gesis ansible lint, gesis ansible deploy, gesis helm lint, gesis helm deploy, Test script lint, Test script run, pages

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Python for test: any of: Dockerfile, test/env.yaml
  gesis ansible lint: any of: ansible/**/*
  gesis ansible deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm deploy: any of: helm/**/*
  Test script lint: any of: test/**/*
  Test script run: any of: test/**/*
  pages: any of: docs/**/*

Add stage vault file
  .gitlab-ci.yml
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible deploy

Add --user to ansible call
  .gitlab-ci.yml
Due: none

Install python3-kubernetes
  ansible/plays/k8s-install.yml
Due: gesis ansible lint, gesis ansible deploy

Install missing python3-passlib
  ansible/plays/nginx-install.yml
Due: gesis ansible lint, gesis ansible deploy

Add Ansible vault for production
  ansible/vault/production.yml
Due: gesis ansible lint, gesis ansible deploy

Avoid kubeadm init when already running
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Move Ansible variable INVENTORY_NAME
  .gitlab-ci.yml
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible deploy

Fix ansible.builtin.systemd and ansible.builtin.apt
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Remove debug message
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Fix version of containerd
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Add containerd configuration file
  ansible/etc/containerd/config.toml
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Update list of GitLab CI stages
  .gitlab-ci.yml
Due: none

Replace nginx user with www-data
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible deploy

Fix relative path in Ansible playbook for NGINX
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible deploy

Fix path of etc/containerd/config.toml
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Use Ansible 'become' rather than running sudo
  ansible/plays/k8s-bridge-traffic.yml
Due: gesis ansible lint, gesis ansible deploy

Use capital letters for task name
  ansible/plays/k8s-bridge-traffic.yml
Due: gesis ansible lint, gesis ansible deploy

Allow IP forward
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible deploy

Add rsync to Dockerfile
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Python for test

Fix Job type reload is not applicable for unit containerd.service.
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Migrate PROMETHEUS_PASSWORD
  ansible/vault/prometheus.yml
  ansible/vault/stage.yml
Due: gesis ansible lint, gesis ansible deploy

Handle fail when create worker nodes
  ansible/plays/k8s-create-worker-nodes.yml
Due: gesis ansible lint, gesis ansible deploy

Add new variable to Ansible
  .gitlab-ci.yml
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible deploy

Reload containerd configuration
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Fix Ansible playbook
  ansible/plays/k8s-create-control-panel.yml
Due: gesis ansible lint, gesis ansible deploy

Improve Helm chart deploy on GitLab CI
  .gitlab-ci.yml
Due: none

Avoid old site configuration for NGINX
  ansible/plays/nginx-config.yml
Due: gesis ansible lint, gesis ansible deploy

Make Ansible collection explicit
  ansible/orc2.yml
Due: gesis ansible lint, gesis ansible deploy

Fix Ansible playbook
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Add Ansible playbook to create Kubernetes Cluster
  ansible/inventories/stage
  ansible/orc2.yml
  ansible/plays/k8s-create-cluster.yml
Due: gesis ansible lint, gesis ansible deploy

Add NGINX configuration for stage
  nginx/sites-available/orc2_stage
Due: gesis ansible deploy

Fix ansible.builtin.systemd state
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Install passlib in Docker
  Dockerfile
Due: Build container with Kubernetes and git-crypt, Build container with Python for test

Allow manual deploy of Helm
  .gitlab-ci.yml
Due: none

Temporarily remove svko-ilcm04 from cluster
  ansible/inventories/stage
Due: gesis ansible lint, gesis ansible deploy

Add missing NGINX file
  nginx/sites-available/default_stage
Due: gesis ansible deploy

Add stage files for Helm chart
  .gitlab-ci.yml
  helm/config/_secret-production.yaml
  helm/config/_secret-stage.yaml
  helm/config/production.yaml
  helm/config/stage.yaml
Due: gesis helm lint, gesis helm deploy

Fix typo in Ansible playbook
  ansible/plays/k8s-create-worker-nodes.yml
Due: gesis ansible lint, gesis ansible deploy

Add Ansible playbook to install containerd
  ansible/orc2.yml
  ansible/plays/k8s-bridge-traffic.yml
  ansible/plays/k8s-install-containerd.yml
Due: gesis ansible lint, gesis ansible deploy

Ansible does NOT need sudo for kubernetes.core
  ansible/plays/k8s-install-cni.yml
Due: gesis ansible lint, gesis ansible deploy
