Repository gesiscss/orc2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Kubernetes and git-crypt, Build container with Ansible and git-crypt, gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy, pages

Path conditions:
  Build container with Kubernetes and git-crypt: any of: Dockerfile
  Build container with Ansible and git-crypt: any of: Dockerfile
  gesis ansible lint: any of: ansible/**/*
  gesis ansible stage deploy: any of: ansible/**/*, nginx/**/*
  gesis ansible production deploy: any of: ansible/**/*, nginx/**/*
  gesis helm lint: any of: helm/**/*
  gesis helm deploy: any of: helm/**/*
  pages: any of: docs/**/*

Change Helm chart version
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Limit history of Helm chart
  .gitlab-ci.yml
Due: none

Update secrets
  ansible/vault/production.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Add proxyPatches to Helm Chart values
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Enable prometheus-pushgateway
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Disable prometheus-pushgateway
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Change prometheus.io/port from 30081 to 80
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Change prometheus.io/port to 8585
  helm/charts/gesis/Chart.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Reduced the number of pds
  helm/charts/gesis/Chart.yaml
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota to 40
  helm/charts/gesis/Chart.yaml
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Add node affinity for image cleaner
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/values.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy

Fix Ansible playbook
  ansible/plays/k8s-node-affinity.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Update Helm Chart version number
  helm/charts/gesis/Chart.yaml
Due: gesis helm lint, gesis helm deploy

Revert "Add node affinity for image cleaner"
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/values.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy

Configure node affinity for Docker inside Docker
  ansible/plays/k8s-node-affinity.yml
  helm/charts/gesis/values.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy

Improve Grafana configuration
  helm/config/_secret-production.yaml
Due: gesis helm lint, gesis helm deploy

Migrate banned list to secret file
  .gitlab-ci.yml
  helm/charts/gesis/values.yaml
  helm/config/common/_secret-banned-list.yaml
Due: gesis helm lint, gesis helm deploy

Sort banned list
  helm/config/common/_secret-banned-list.yaml
Due: gesis helm lint, gesis helm deploy

Fix Helm chart
  helm/config/common/_secret-banned-list.yaml
Due: gesis helm lint, gesis helm deploy

Enable maintenance mode
  nginx/sites-available/orc2
Due: gesis ansible stage deploy, gesis ansible production deploy

Changes to keep up with miners
  helm/config/common/_secret-mybinder.org-common.yaml
Due: gesis helm lint, gesis helm deploy

Reduce pod quota
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Add missing minesweeper template files
  helm/charts/gesis/templates/minesweeper/configmap.yaml
  helm/charts/gesis/templates/minesweeper/daemonset.yaml
  helm/charts/gesis/templates/minesweeper/rbac.yaml
Due: gesis helm lint, gesis helm deploy

Replace Go template comment with YAML comment
  helm/charts/gesis/templates/minesweeper/configmap.yaml
Due: gesis helm lint, gesis helm deploy

Revert "Merge branch 'minersweeper' into 'main'"
  helm/charts/gesis/templates/minesweeper/configmap.yaml
  helm/charts/gesis/templates/minesweeper/daemonset.yaml
  helm/charts/gesis/templates/minesweeper/rbac.yaml
Due: gesis helm lint, gesis helm deploy

Change image tag of minesweeper
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Add nodeSelector to minesweeper
  helm/charts/gesis/templates/minesweeper/daemonset.yaml
  helm/charts/gesis/values.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota to 50
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Change containerd root directory
  ansible/etc/containerd/config.toml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Change BinderHub Docker in Docker directory
  helm/charts/gesis/values.yaml
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Create /orc2_data/repo2docker with Ansible
  ansible/plays/k8s-prepare-node.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Rename containerd repository
  ansible/etc/containerd/config.toml
  ansible/plays/k8s-prepare-node.yml
  helm/config/production.yaml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy, gesis helm lint, gesis helm deploy

Revert "Merge branch 'maintenance' into 'main'"
  nginx/sites-available/orc2
Due: gesis ansible stage deploy, gesis ansible production deploy

Reduce pod quota to investigate https://git.gesis.org/ilcm/orc2/-/issues/116
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Update Ansible vault
  ansible/vault/production.yml
Due: gesis ansible lint, gesis ansible stage deploy, gesis ansible production deploy

Increase production pod quota to 30
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota to 60
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota to 90
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy

Increase pod quota to 150
  helm/config/production.yaml
Due: gesis helm lint, gesis helm deploy
